wp-config.php
.env
.env.*
*.sql
*.sql.gz
*.tar
*.tar.gz
*.zip
index.php
license.txt
readme.html
wp-*.php
wp-admin/
wp-includes/
wp-content/cache/
wp-content/upgrade/
wp-content/backup*/
wp-content/backups/
.DS_Store
